<div class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half-tablet is-5-desktop is-4-widescreen">
          <form action="" class="box">
            <div class="field">
              <label for="email" class="label">Email</label>
              <div class="control has-icons-left">
                <input id="email" type="email" placeholder="example@gmail.com" class="input is-primary has-text-dark" required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="password" class="label">Password</label>
              <div class="control has-icons-left">
                <input id="password" type="password" placeholder="*******" class="input is-primary has-text-dark" required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="remember">
                <input id="remember" type="checkbox">
                Remember me
              </label>
            </div>
            <div class="field is-flex is-justify-content-space-between mt-5">
              <button class="button is-success" routerLink="/register">
                Login
              </button>
              <button class="button" routerLink="/register">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
