<div id="admin-page-wrapper">
  <aside class="menu p-4 ">
    <p class="menu-label has-text-light">
      General
    </p>
    <ul class="menu-list has-text-light">
      <li><a class="has-text-light">Dashboard</a></li>
      <li><a class="has-text-light">Customers</a></li>
    </ul>
    <p class="menu-label has-text-light">
      Administration
    </p>
    <ul class="menu-list has-text-light">
      <li><a class="has-text-light">Team Settings</a></li>
      <li>
        <a class="has-text-light">Manage Your Team</a>
        <ul>
          <li><a class="has-text-light">Members</a></li>
          <li><a class="has-text-light">Plugins</a></li>
          <li><a class="has-text-light">Add a member</a></li>
        </ul>
      </li>
      <li><a class="has-text-light">Invitations</a></li>
      <li><a class="has-text-light">Cloud Storage Environment Settings</a></li>
      <li><a class="has-text-light">Authentication</a></li>
    </ul>
    <p class="menu-label has-text-light">
      Transactions
    </p>
    <ul class="menu-list has-text-light">
      <li><a class="has-text-light">Payments</a></li>
      <li><a class="has-text-light">Transfers</a></li>
      <li><a class="has-text-light">Balance</a></li>
    </ul>
  </aside>
</div>