<div class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half-tablet is-5-desktop is-4-widescreen">
          <form action="" class="box">


            <div class="field">
              <label for="user-name" class="label">Username</label>
              <div class="control has-icons-left">
                <input id="user-name" type="text" placeholder="Username" class="input is-primary has-text-dark"
                       required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser" />
                </span>
              </div>
            </div>

            <div class="field">
              <label for="email" class="label">Email</label>
              <div class="control has-icons-left">
                <input id="email" type="email" placeholder="example@example.com" class="input is-primary has-text-dark"
                       required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope" />
                </span>
              </div>
            </div>

            <div class="field">
              <label for="password" class="label">Password</label>
              <div class="control has-icons-left">
                <input id="password" type="password" placeholder="*******" class="input is-primary has-text-dark"
                       required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock" />
                </span>
              </div>
            </div>

            <div class="field">
              <label for="password-check" class="label">Retype Password</label>
              <div class="control has-icons-left">
                <input id="password-check" type="password" placeholder="*******" class="input is-primary has-text-dark"
                       required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock" />
                </span>
              </div>
            </div>

            <div class="field">
              <label for="first-name" class="label">First Name</label>
              <div class="control has-icons-left">
                <input id="first-name" type="text" placeholder="First Name" class="input is-primary has-text-dark"
                       required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faIdCard" />
                </span>
              </div>
            </div>

            <div class="field">
              <label for="last-name" class="label">Last Name</label>
              <div class="control has-icons-left">
                <input id="last-name" type="text" placeholder="Last Name" class="input is-primary has-text-dark"
                       required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faIdCard" />
                </span>
              </div>
            </div>

            <div class="field">
              <label for="phone-number" class="label">Phone Number</label>
              <div class="control has-icons-left">
                <input id="phone-number" type="tel" placeholder="+32 0123 45 67 89" class="input is-primary has-text-dark"
                       required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faPhone" />
                </span>
              </div>
            </div>

            <div class="field">
              <label for="street" class="label">Address</label>
              <div class="inputs columns">
                <div class="control has-icons-left column is-8">
                  <input id="street" type="text" placeholder="Street" class="input is-primary has-text-dark" required>
                  <span class="icon is-small is-left m-3">
                    <fa-icon [icon]="faHouse" />
                  </span>
                </div>
                <div class="control column">
                  <input id="house-number" type="number" placeholder="Nr" class="input is-primary has-text-dark"
                         required>
                </div>
              </div>
            </div>

            <div class="field ">
              <label for="post-code" class="label">City & Postal Code</label>
              <div class="inputs columns">
                <div class="control has-icons-left column is-8">
                  <input id="city" type="text" placeholder="City" class="input is-primary has-text-dark"
                         required>
                  <span class="icon is-small is-left m-3">
                    <fa-icon [icon]="faLocationdot" />
                </span>
                </div>
                <div class="control column">
                  <input id="post-code" type="number" placeholder="Code" class="input is-primary has-text-dark"
                         required>
                </div>
              </div>
            </div>

            <div class="field is-flex is-justify-content-space-between mt-5">
              <button class="button is-primary">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
