<div id="account-page-wrapper" class="columns">
  <div id="side-bar"
    class="column is-one-fifth-desktop is-hidden-mobile as-text-light is-fixed is-flex is-flex-direction-column">
    <a class="nav-item is-tab is-full-desktop has-text-grey-light py-5 mt-5 is-size-4" (click)="SelectActive(1)"
      [ngClass]="{'active' : this.activeDiv === 1}">
      <span class="icon"><i class="fa fa-info"></i></span> Account
    </a>
    <a class="nav-item is-tab is-full-desktop has-text-grey-light py-5 is-size-4"
      [ngClass]="{'active' : this.activeDiv === 2}" (click)="SelectActive(2)">
      <span class="icon"><i class="fa fa-info"></i></span> Orders
    </a>
    <a class="nav-item is-tab is-full-desktop has-text-grey-light py-5 is-size-4"
      [ngClass]="{'active' : this.activeDiv === 3}" (click)="SelectActive(3)">
      <span class="icon"><i class="fa fa-info"></i></span> Settings
    </a>
  </div>

  <div id="main-content"
    class="column is-full-tablet is-four-fifths-desktop is-flex is-flex-direction-row has-background-black">
    <h1>main content</h1>
  </div>
</div>