<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{candle.getImgPath()}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content has-background-grey">
    <footer class="card-footer is-flex-direction-column is-borderless">
      <p class="has-text-centered has-text-light" id="description">{{ candle.toString() }}</p>
      <div class="stock-and-price is-flex is-justify-content-space-between">
        <p class="has-text-right mb-3 has-text-light">Stock: {{ candle.getStock() }}</p>
        <p class="has-text-right mb-3 has-text-light">{{ candle.getPrice() }}EUR</p>
      </div>
      <div class="buttons is-justify-content-space-between">
        <button class="button is-info">View Details</button>
        <button class="button is-primary">Add to Cart</button>
      </div>
    </footer>
  </div>
</div>
