.photo {
  margin: 5% 0;

  img {
    width: 100%;
  }
}

#title {
  margin: 5% 0;

  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 76px !important;
  }
}

.text {
  font-family: 'Ysabeau', sans-serif;
  font-size: 23px !important;
}
